{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} دیجی استور {% endblock %}</title>

    <meta name="theme-color" content="#ef4056">
    <meta name="msapplication-navbutton-color" content="#ef4056">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ef4056">

    <link href="https://mohsenesmaili.ir" rel="author">
    <meta name="author" content="mohsenesmaili.ir">
    <meta name="copyright" content="2022">
    <meta name="email" content="info@mohsenesmaili.ir">

    <link rel="stylesheet" href="{% static 'assets/css/library.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

</head>

<body>
    <div class="page-wrapper">
        <header class="page-mini-header py-4">
            <div class="d-flex justify-content-center">
                <div class="logo-container">
                    <a href="index-1.html" class="logo"><img src="{% static 'assets/images/logo.png' %}" width="120" alt=""></a>
                </div>
            </div>
        </header>
        <main class="page-content page-auth">
            <!-- auth-container -->
            <div class="auth-container">
                <div class="auth-title mb-3">ورود / ثبت نام</div>
                <!-- auth-box -->
                <div class="auth-box ui-box">
                    <!-- auth-form -->
                    <form action="" method="POST" class="auth-form" novalidate>
                        {% csrf_token %}


                        {% if status == None %}
                            <!-- form-element -->
                            <div class="form-element-row mb-5">
                                {{ form.phone_number }}
                                {% if form.phone_number.errors %}
                                {% for error in form.phone_number.errors %}
                                <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>

                        {% endif %}
                        <!--  form-get-code-or-password -->
                        {% if status == 'login' %}
                            <div class="form-element-row mb-5">
                                <input type="hidden" name="status" value="login">
                                {{ form_login.password }}

                                {% if form_login.non_field_errors %}
                                    {% for error in form_login.non_field_errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}


                            </div>
                        {% elif status == 'not_found' %}
                            <div class="form-element-row mb-5">
                                <input type="hidden" name="status" value="not_found">
                                {{ form_login.code }}
                                
                                {% if form_login.non_field_errors %}
                                    {% for error in form_login.non_field_errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}



                        <!--  form-element -->
                        <!-- form-element -->
                        <div class="form-element-row mb-3">
                            <button class="btn btn-primary">ادامه</button>
                        </div>
                        <!--  form-element -->
                        <!-- form-element -->
                        <div class="form-element-row">
                            <div>با ورود و یا ثبت نام در سایت شما <a href="#" class="link">شرایط و
                                    قوانین</a> استفاده
                                از تمام سرویس های
                                سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                            </div>
                        </div>
                        <!--  form-element -->
                    </form>
                    <!--  auth-form -->
                </div>
                <!--  auth-box -->
            </div>
            <!-- auth-container -->
        </main>
        <footer class="page-mini-footer">
    
            <div class="copy-right bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <div class="text-muted text-md-start text-center">کليه حقوق اين سايت متعلق به مای استور می‌باشد.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-muted text-md-end text-center">2022 © Copyright</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'assets/js/library/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/library/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/library/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'assets/js/library/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/library/jquery.simple.timer.min.js' %}"></script>
    <script src="{% static 'assets/js/library/iziToast.min.js' %}"></script>
    <script src="{% static 'assets/js/library/fancybox.umd.js' %}"></script>
    <script src="{% static 'assets/js/library/nouislider.min.js' %}"></script>
    <script src="{% static 'assets/js/library/wNumb.js' %}"></script>
    <script src="{% static 'assets/js/library/remodal.min.js' %}"></script>
    <script src="{% static 'assets/js/library/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/library/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/js/library/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/library/zoomsl.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>